page-home {
    .img-1 {
        border: 1px solid rgb(95, 78, 22);
        border-radius: 20px;
        padding: 20px;
        width: 200px;
      }
      .centrado{
        text-align: center;
      }

      
}
